python-socketio
eventlet
dash
dash-bootstrap-components
dash-extensions
flask
docker
psutil
pyinstaller
pandas
numpy
matplotlib
plotly
seaborn
scikit-learn
datetime
python-socketio
dash_socketio
pyinstaller
cryptography